* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", consolas, monospace;
}

body {
    background-color: #001f04;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    flex-direction: column;
}

canvas {
    background-color: #118611;
}