* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", consolas, monospace;
}

body {
    background-color: rgb(0, 119, 0);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    flex-direction: column;
}

canvas {
    background-color: rgba(35, 189, 35, 0.89);
}